<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">{{institution}} Scheduler</h3>
    </div>

    <div class="box-body">
        <form class="form-horizontal">
            <table view-element="table" class="table table-bordered">
                <thead>
                <tr>
                    {{#columns}}
                        <th>{{this}}</th>
                    {{/columns}}
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#data}}
                    <tr>
                        <td>{{task}}</td>
                        <td>{{server}}</td>
                        <td>{{start}}</td>
                        <td>{{interval}}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" view-click="controller.deleteSchedule({{taskId}},{{id}},{{@index}});">
                                <i class="fa fa-times-circle fa-fw"></i>Delete
                            </button>
                        </td>
                    </tr>
                {{/data}}
                </tbody>
            </table>
        </form>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <button view-click="controller.cancelClick()" type="submit" class="btn bg-wet-asphalt margin pull-right">Ok</button>
    </div>
    <!-- /.box-footer -->
</div>