<ul class="sidebar-menu" data-widget="tree">
    <div class="sidetoolbar">
        <div class="sidetoolbar-group">
            <button view-click="controller.getTasks();" view-element="tasksBtn" class="btn btn-app btn-sidetoolbar">
                <i class="fa fa-hospital-o"></i>
                Resources
            </button>

            <button view-click="controller.getComponents();" view-element="componentsBtn" class="btn btn-app btn-sidetoolbar">
                <i class="fa fa-wrench"></i>
                Components
            </button>
        </div>
    </div>
</ul>

<ul view-element="institutions" class="sidebar-menu" data-widget="tree">
{{# institutions}}
    <li class="header">{{name}}</li>
    {{#if tasks}}
        <ul view-element="tasks" class="sidebar-menu" data-widget="tree">
            <li class="treeview menu-open">
                <a>
                    <i class="fa fa-folder"></i> <span>Tasks</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {{#tasks}}
                    <li>
                        <a view-click="controller.selectTask({{id}})">
                            <i class="fa fa-file-text-o"></i>
                            <span>{{name}}</span>
                            <span class="pull-rigth-container">
                                <button type="button" class="btn btn-xs pull-right"><i class="fa fa-pencil fa-fw"></i></button>
                            </span>
                        </a>
                    </li>
                    {{/tasks}}
                    <li>
                        <form view-element="{{name}}_newTask" view-submit="controller.createTask({{name}});" class="sidebar-form">
                            <div class="input-group">
                                <input name="taskName" class="form-control" placeholder="Create a new task..."/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-flat">
                                      <i class="fa fa-plus-circle"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>

            <li class="treeview menu-open">
                <a>
                    <i class="fa fa-folder"></i> <span>Servers</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {{#servers}}
                        <li>
                            <a>
                                <i class="fa fa-server"></i>
                                <span>{{name}}</span>
                                <span class="pull-rigth-container">
                                <button view-click="controller.editServer({{id}})" type="button" class="btn btn-xs pull-right"><i class="fa fa-pencil fa-fw"></i></button>
                            </span>
                            </a>
                        </li>
                    {{/servers}}
                    <li>
                        <form view-element="{{name}}_newServer" view-submit="controller.createServer({{name}});" class="sidebar-form">
                            <div class="input-group">
                                <input name="serverName" class="form-control" placeholder="Add a server...">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                      <i class="fa fa-plus-circle"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>

            <li class="treeview menu-open">
                <a>
                    <i class="fa fa-folder"></i> <span>Data Sources</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {{#dataSources}}
                        <li>
                            <a>
                                <i class="fa fa-database"></i>
                                <span>{{connectionName}}</span>
                                <span class="pull-rigth-container">
                                <button view-click="controller.editDataSource({{id}})" type="button" class="btn btn-xs pull-right"><i class="fa fa-pencil fa-fw"></i></button>
                            </span>
                            </a>
                        </li>
                    {{/dataSources}}
                    <li>
                        <form view-element="{{name}}_newDataSource" view-submit="controller.createDataSource({{name}});" class="sidebar-form">
                            <div class="input-group">
                                <input name="dataSourceName" class="form-control" placeholder="Add a Data Source...">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                      <i class="fa fa-plus-circle"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    {{/if}}
{{/institutions}}
</ul>

<ul view-element="components" class="sidebar-menu" data-widget="tree">
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Input</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Generate Rows','RowGenerator');"><i class="fa fa-file-text-o"></i> Generate Rows</a>
            </li>
            <li>
                <a onmousedown="addDragContent('Table Input','TableInput');"><i class="fa fa-table"></i> Table Input</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Output</span>
            <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Table Output','TableOutput');"><i class="fa fa-table"></i> Table Output</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Transform</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Add Checksum','Checksum');"><i class="fa fa-file-zip-o"></i> Add Checksum</a>
            </li>
            <li>
                <a onmousedown="addDragContent('Add Sequence','Sequence');"><i class="fa fa-file-zip-o"></i> Add sequence</a>
            </li>
            <li>
                <a onmousedown="addDragContent('Select Values','SelectValues');"><i class="fa fa-file-zip-o"></i> Select Values</a>
            </li>
            <li>
                <a onmousedown="addDragContent('Sort Rows','SortRows');"><i class="fa fa-file-zip-o"></i> Sort Rows</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Flow</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Dummy (do nothing)','Dummy');"><i class="fa fa-exchange"></i> Dummy (do nothing)</a>
            </li>
            <li>
                <a onmousedown="addDragContent('Filter Rows','FilterRows');"><i class="fa fa-exchange"></i> Filter Rows</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Lookup</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Joins</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Merge Join','MergeJoin');"><i class="fa fa-exchange"></i> Merge Join</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Statistics</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Group By','GroupBy');"><i class="fa fa-hand-o-right"></i> Group By</a>
            </li>
        </ul>
    </li>
    <li class="treeview menu-open">
        <a>
            <i class="fa fa-folder"></i> <span>Scripting</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a onmousedown="addDragContent('Execute SQL script','ExecSQL');"><i class="fa fa-hand-o-right"></i> Execute SQL script</a>
            </li>
        </ul>
    </li>
</ul>
<script>
    var drag_content = {};
    function addDragContent(label,ctype){
        drag_content['label'] = label;
        drag_content['ctype'] = ctype;
        $("[title='"+label+"']")[0].click();
    }
</script>