<ul class="sidebar-menu" data-widget="tree">
    <div class="sidetoolbar">
        <div class="sidetoolbar-group">
            <button view-click="controller.getTasks();" view-element="tasksBtn" class="btn btn-app btn-sidetoolbar">
                <i class="fa fa-hospital-o"></i>
                Resources
            </button>

            <button view-click="controller.getComponents();" view-element="componentsBtn" class="btn btn-app btn-sidetoolbar">
                <i class="fa fa-wrench"></i>
                Components
            </button>
        </div>
    </div>
</ul>

<ul view-element="institutions" class="sidebar-menu" data-widget="tree">
{{# institutions}}

    <li class="treeview menu" onclick="if(event.target.getAttribute('name') == 'institution'){ this.classList.toggle('menu-open');this.classList.toggle('menu'); }">
        <a name="institution" href="#">
            <i class="fa fa-folder"></i>  {{name}}
            <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu" data-widget="tree">
            <!-- Execution Scheduler -->
            <li>
                <a view-click="controller.showSchedule({{id}})">
                    <i class="fa fa-calendar"></i>
                    <span>Execution Scheduler</span>
                </a>
            </li>

            <!-- Tasks -->
            <li class="treeview menu" onclick="this.classList.toggle('menu-open');this.classList.toggle('menu');">
                <a name="tasks">
                    <i class="fa fa-folder"></i> <span>Tasks</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {{#tasks}}
                    <li>
                        <a view-click="controller.selectTask({{id}})">
                            <i class="fa fa-file-text-o"></i>
                            <span>{{name}}</span>
                            <span class="pull-rigth-container">
                                <button type="button" class="btn btn-xs pull-right"><i class="fa fa-pencil fa-fw"></i></button>
                            </span>
                        </a>
                    </li>
                    {{/tasks}}
                    <li>
                        <form view-element="{{name}}_newTask" view-submit="controller.createTask({{name}});" class="sidebar-form">
                            <div class="input-group">
                                <input name="taskName" class="form-control" placeholder="Create a new task..."/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-flat">
                                      <i class="fa fa-plus-circle"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
            <!-- Servers -->
            <li class="treeview menu" onclick="this.classList.toggle('menu-open');this.classList.toggle('menu');">
                <a name="servers">
                    <i class="fa fa-folder"></i> <span>Servers</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {{#servers}}
                        <li>
                            <a>
                                <i class="fa fa-server"></i>
                                <span>{{name}}</span>
                                <span class="pull-rigth-container">
                                <button view-click="controller.editServer({{id}})" type="button" class="btn btn-xs pull-right"><i class="fa fa-pencil fa-fw"></i></button>
                            </span>
                            </a>
                        </li>
                    {{/servers}}
                    <li>
                        <form view-element="{{name}}_newServer" view-submit="controller.createServer({{name}});" class="sidebar-form">
                            <div class="input-group">
                                <input name="serverName" class="form-control" placeholder="Add a server...">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                      <i class="fa fa-plus-circle"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
            <!-- Data Sources -->
            <li class="treeview menu" onclick="this.classList.toggle('menu-open');this.classList.toggle('menu');">
                <a name="sources">
                    <i class="fa fa-folder"></i> <span>Data Sources</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {{#dataSources}}
                        <li>
                            <a>
                                <i class="fa fa-database"></i>
                                <span>{{connectionName}}</span>
                                <span class="pull-rigth-container">
                                <button view-click="controller.editDataSource({{id}})" type="button" class="btn btn-xs pull-right"><i class="fa fa-pencil fa-fw"></i></button>
                            </span>
                            </a>
                        </li>
                    {{/dataSources}}
                    <li>
                        <form view-element="{{name}}_newDataSource" view-submit="controller.createDataSource({{name}});" class="sidebar-form">
                            <div class="input-group">
                                <input name="dataSourceName" class="form-control" placeholder="Add a Data Source...">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                      <i class="fa fa-plus-circle"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
{{/institutions}}
</ul>

<ul view-element="components" class="sidebar-menu" data-widget="tree">

</ul>