<form view-element="{{table}}_{{row}}" view-submit="controller.add()" class="form-horizontal">
{{#each fields}}
    <div class="form-group">
        {{#ifCond type '==' 'input'}}
            <label for="{{id}}" class="col-sm-2 control-label">{{label}}:</label>
            <div class="col-sm-5">
                <input class="form-control" name="{{id}}" view-element="{{id}}" value="{{value}}">
            </div>
        {{/ifCond}}

        {{#ifCond type '==' 'select'}}
            <label for="{{id}}" class="col-sm-2 control-label">{{label}}:</label>
            <div class="col-sm-5">
                <select name="{{id}}" view-element="{{id}}" class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true">
                    {{#ifCond source '!=' 'metadata'}}
                        {{#options}}
                            {{#ifCond ../value '==' name}}
                                <option value="{{name}}" selected>{{name}}</option>
                            {{/ifCond}}
                            {{#ifCond ../value '!=' name}}
                                <option value="{{name}}">{{name}}</option>
                            {{/ifCond}}
                        {{/options}}
                    {{/ifCond}}

                    {{#ifCond source '==' 'metadata'}}
                        {{#options}}
                            {{#ifCond ../value '==' value}}
                                <option value="{{value}}" selected>{{name}}</option>
                            {{/ifCond}}
                            {{#ifCond ../value '!=' value}}
                                <option value="{{value}}">{{name}}</option>
                            {{/ifCond}}
                        {{/options}}
                    {{/ifCond}}
                </select>
            </div>
        {{/ifCond}}
    </div>
{{/each}}
</form>
