<div id="{{component.name}}" class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">{{component.description}}</h3>
    </div>
    <div class="box-body">
        <form view-element="{{component.shortName}}_form" class="form-horizontal" enctype="multipart/form-data">
        {{#component.componentProperties}}
            {{#ifCond type '==' 'input'}}
                <div class="form-group">
                    <label for="{{id}}" class="col-sm-2 control-label">{{name}}:</label>
                    <div class="col-sm-5">
                        {{#ifCond shortName '==' 'password'}}
                            <input type="password" class="form-control" name="{{id}}" view-element="{{id}}" value="{{stepProperty.value}}">
                        {{/ifCond}}
                        {{#ifCond shortName '!=' 'password'}}
                            <input class="form-control" name="{{id}}" view-element="{{id}}" value="{{stepProperty.value}}">
                        {{/ifCond}}
                    </div>
                </div>
            {{/ifCond}}
            {{#ifCond type '==' 'textarea'}}
                <div class="form-group">
                    <label for="{{id}}" class="col-sm-2 control-label">{{name}}:</label>
                    <div class="col-sm-5">
                        <textarea class="form-control" name="{{id}}" view-element="{{id}}" rows="4" cols="50" value="{{stepProperty.value}}">{{stepProperty.value}}</textarea>
                    </div>
                </div>
            {{/ifCond}}
            {{#ifCond type '==' 'fileinput'}}
                <div class="form-group">
                    <label for="{{id}}" class="col-sm-2 control-label">{{name}}:</label>
                    <div class="col-sm-5">
                        <input type="file" name="{{id}}" view-element="{{id}}" value="{{stepProperty.value}}">
                    </div>
                </div>
            {{/ifCond}}
            {{#ifCond type '==' 'number'}}
                <div class="form-group">
                    <label for="{{id}}" class="col-sm-2 control-label">{{name}}</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" name="{{id}}" view-element="{{id}}" value="{{stepProperty.value}}">
                    </div>
                </div>
            {{/ifCond}}
            {{#ifCond type '==' 'checkbox'}}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <div class="checkbox">
                            <label>
                                {{#ifCond stepProperty.value '==' '"on"'}}
                                    <input name="{{id}}" view-element="{{id}}" type="checkbox" checked> {{name}}
                                {{/ifCond}}

                                {{#ifCond stepProperty.value '==' '"off"'}}
                                    <input name="{{id}}" view-element="{{id}}" type="checkbox"> {{name}}
                                {{/ifCond}}

                                {{#ifCond stepProperty.value '==' null}}
                                    <input name="{{id}}" view-element="{{id}}" type="checkbox"> {{name}}
                                {{/ifCond}}
                            </label>
                        </div>
                    </div>
                </div>
            {{/ifCond}}
            {{#ifCond type '==' 'select'}}
            <div class="form-group">
                <label for="{{id}}" class="col-sm-2 control-label">{{name}}:</label>
                <div class="col-sm-5">
                    <select name="{{id}}" view-element="{{id}}" class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true">
                        {{#ifCond source '==' 'dataSources'}}
                            <option></option>
                            {{#../dataSources}}
                                {{#ifCond ../stepProperty.value '==' connectionName}}
                                    <option value="{{connectionName}}" selected>{{connectionName}}</option>
                                {{/ifCond}}
                                {{#ifCond ../stepProperty.value '!=' connectionName}}
                                    <option value="{{connectionName}}">{{connectionName}}</option>
                                {{/ifCond}}
                            {{/../dataSources}}
                        {{/ifCond}}

                        {{#ifCond source '==' 'inputSteps'}}
                            <option></option>
                            {{#../inputSteps}}
                                {{#ifCond ../stepProperty.value '==' name}}
                                    <option value="{{name}}" selected>{{name}}</option>
                                {{/ifCond}}
                                {{#ifCond ../stepProperty.value '!=' name}}
                                    <option value="{{name}}">{{name}}</option>
                                {{/ifCond}}
                            {{/../inputSteps}}
                        {{/ifCond}}

                        {{#ifCond source '==' 'outputSteps'}}
                            {{#../outputSteps}}
                                {{#ifCond ../stepProperty.value '==' name}}
                                    <option selected>{{name}}</option>
                                {{/ifCond}}
                                {{#ifCond ../stepProperty.value '!=' name}}
                                    <option>{{name}}</option>
                                {{/ifCond}}
                            {{/../outputSteps}}
                        {{/ifCond}}

                        {{^source}}
                            {{#componentMetadatas}}
                                {{#ifCond ../stepProperty.value '==' value}}
                                    <option value="{{value}}" selected>{{name}}</option>
                                {{/ifCond}}
                                {{#ifCond ../stepProperty.value '!=' value}}
                                    <option value="{{value}}">{{name}}</option>
                                {{/ifCond}}
                            {{/componentMetadatas}}
                        {{/source}}
                    </select>
                </div>
            </div>
            {{/ifCond}}
            {{#ifCond type '==' 'multi-select'}}
                <div class="form-group">
                    <label for="{{id}}" class="col-sm-2 control-label">{{name}}:</label>
                    <div class="col-sm-5">
                        {{#ifCond source '==' 'inputFields'}}
                        <select name="{{id}}" view-element="{{id}}" multiple class="form-control">
                            {{#../inputFields}}
                                <option
                                    {{#ifCond ../stepProperty.value 'contains' name}}
                                        selected
                                    {{/ifCond}}
                                value="{{name}}" >{{name}}</option>
                            {{/../inputFields}}
                        </select>
                        {{/ifCond}}
                    </div>
                </div>
            {{/ifCond}}
            {{#ifCond type '==' 'table'}}
                <label>{{name}}:</label>
                <table view-element="{{id}}" class="table table-bordered">
                    <thead>
                        {{#componentMetadatas}}
                            <th>{{name}}</th>
                        {{/componentMetadatas}}
                        <th style="min-width: 10%;"></th>
                    </thead>
                </table>
            {{/ifCond}}
            {{#ifCond type '==' 'condition'}}
                <div class="col-md-12 col-lg-6 col-lg-offset-1">
                    <label for="{{id}}">{{name}}:</label>
                    <div view-element="{{id}}" class="query-builder form-inline"/>
                    <div class="btn-group">
                        <button type="button" view-click="controller.resetCondition()" class="btn btn-default">Reset</button>
                        <button id="senseBtn" type="button" view-click="controller.toggleSenseCondition()" class="btn btn-success">Positive</button>
                    </div>
                </div>
            {{/ifCond}}
        {{/component.componentProperties}}
        </form>
    </div>
    <div class="box-footer">
        <button view-click="controller.cancelClick()" type="submit" class="btn btn-default">Cancel</button>
        <button view-click="controller.submitClick()" type="submit" class="btn bg-wet-asphalt margin pull-right">Submit</button>
    </div>
</div>